.stc {
  display: grid;
  width: 500px;
  height: 400px;
  grid-template-columns: repeat(3, 1fr);
  margin-top: 40px;
}

.emotion {
  text-align: center;
}

.emotion img {
  width: 150px;
  height: 150px;
  cursor: pointer;
}
