
  
  @media screen and (max-width: 1090px) {
    .nav {
      left: initial;
      top: initial;
      bottom: 0px;
      width: 100%;
      
    }
  }
  
  .nav {
    padding: 20px;
    margin: 20px;

  }




  .nav {
    display: flex;
    justify-content: space-between; /* 좌우 정렬 */
    align-items: center; /* 세로 중앙 정렬 */
    padding: 20px;
    margin: 20px;
  }
  
  .nav-left {
    display: flex;
    align-items: center; /* 세로 중앙 정렬 */
    gap: 30px; /* 메뉴 간격 */
  }
  
  .nav-right {
    display: flex;
    align-items: center; /* 세로 중앙 정렬 */
  }
  
  .nav a {
    text-decoration: none;
    color: black;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 600;
    padding: 0 10px;
  }
  
  .nav img {
    height: 50px;
  }
  